body {
    background-image: url('imagens/background.png');
    text-align: center;
}

.container {
    width: 100%;
}

h1 {
    font-size: 60pt;
    color: white;
}

h2 {
    font-size: 40pt;
    color:yellow;
    
}

.img1 {
    width: 80%;
    margin-left: 30%;
    display: block;
}


.amarelo {
    margin-top:3%;
    color: yellow;
    font-family: Georgia;
    font-size: 20pt;
}

.branco {
    margin-top:3%;
    color: white;
    font-family: Georgia;
    font-size: 20pt;
}

.save {
    width: 100%;
}

.donate {
    width: 100%;
}
